/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
$component-name: product-flags;

.#{$component-name} {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  margin: 0;

  .badge {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-width: 62px;
    height: 20px;
    padding: 2px 8px;
    font-family: "Geist", "Geist Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(76, 85, 209, 1);
    border: 0;
    border-radius: 60px;
  }
}
